# ===============================
# Visual Studio / .NET
# ===============================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/

# ===============================
# Frontend (Angular / Node)
# ===============================
node_modules/
dist/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
